#box {
    background-color: powderblue;
}

.column {
    float: left;
    width: 20%;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

#box1{
  background-color:antiquewhite; 
  width: 300px;
  height: 300px;
  word-wrap: break-word;
}

#box2{
  background-color:blue; 
  width: 300px; 
  height: 300px;
  word-wrap: break-word;
  color: white;
}

#box3{
  background-color:chartreuse; 
  width: 300px; 
  height: 300px;
  word-wrap: break-word;
}

@keyframes moneyAnimation {
  0%   {color:rgb(0, 201, 0); opacity: 0;}
  50%  {color:rgb(0, 201, 0); opacity: 100;}
  100% {color:rgb(0, 201, 0); opacity: 0;}
}

#addMoneyAnimation {
  font-size: 200%;
  position: center;
  animation: moneyAnimation 5s linear forwards;
  padding: 30px;
}